body{
  background-color:#E5E5E5;
  text-align: center;
  list-style-position: inside;
}

h1{
  color:#5D5FEF;
  border: 3px solid black;
  font-family: cursive;
  border-bottom:  groove black;


}
h2{
  color: #7879F1;
}
h3{
  color:#A5A6F6;
}

h4{
  color:#A5A6F6;

}

.button{
  color: white;
  border-radius: 10px;
  background-color: #5D5FEF;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center
  /* display: inline-block; */
  /* cursor: pointer; */

}
