@media screen and (max-width: 1000px) {
  .menubar a:not(:first-child) {display: none;}
  .menubar a.icon {
    float: right;
    display: block;
  }
  #hamburgerIcon{
    float: right;
    display: inline;
  }

}
@media screen and (min-width: 1000px) {
  .menubar.responsive {position: relative;}
  .menubar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  #hamburgerIcon{
    float: right;
    display: none;
  }
}
.hidden{
  display: none;
}
#dropDown{
  display: none;
}
#heroimg{
  width: 100vw;
  position: relative;
  bottom: 300px;
}
#hero h1{
  z-index: 1;
  position: relative;
  font-size: 6vw;
  top: 45vh;
  margin: 0 0 0 7vw;
  color: black;
}
html,body{
  margin: 0;
  padding: 0;
}

.menubar{
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: black;
  position:sticky;


}
.menubar a{
  float: left;
  display: block;
  color: #CFB87C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.menubar a:hover {
  background-color: white;
  color: black;
}
.menubar a.active {
  background-color: #CFB87C;
  color: white;
}
.menubar.icon {
  display: none;
}



  .menubar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
